%p Es wurde soeben ein Button gedrückt. Deshalb senden wir ein Mail mit frei definierbarem Text.

%ul
  %li
    %strong Mandant:
    OXON AG
  %li
    %strong EUI:
    = @eui
  %li
    %strong Button:
    = @button
